* {
    color: #754b23;
    font-size: 16px;
}

.head_img {
    background-image: url('assets/header.png');
    background-repeat: repeat-x;
    height: 200px;
    margin-bottom: 200px;
}
.navbar-right {

}
.navbar-right a {
    margin-right: 20px;
    margin-top: 100px;
    margin-right: 20px;
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    /*position: relative;
	left: 550px;
	top: 100px;
	margin-left: 25px;*/
}

.navbar-right a {
    text-decoration: none;
    color: #754b23;
}

.back_logo {

    background-image: url('assets/logo.png');
    background-repeat: no-repeat;
    height: 255px;

    margin-top: 100px;
    background-position: center;
}

.pg_break {
    height: 25px;
    margin-top: 20px;
    background-color: #754b23;
}
.back_logo { 

}
.back_logo_capt {
    font-family: 'Monotype Corsiva', cursive;
    text-align: center;
    font-weight: 200;
}

.strips_2 div {
    height: 300px;
}

.strips_2 {
    background-image: url('assets/strips2.png');
    background-repeat: repeat-y;
    background-position: right;
    text-align: center;
    height: 460px;
}

.i_head {
	margin-top: 25px;
	margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.i_par {
    margin-left: 15px;
} 
.bottom_info {
    margin-top: 20px;
    font-family: 'Monotype Corsiva', cursive;
}

.footer {
    height: 80px;
    background-color: #06b4af;
}

.copyright small {
    color: white;
    margin-top: 15px;
}

.dots {
    position: absolute;
    top: 18px;
    left: 40px;
}

.phone small,
.phone span {
    color: white;
    margin-top: 30px
}

.cupcake_pic {}

.no_padding {
	padding-left: 0px;
	padding-right: 0px;

}
