body {
    color: #754b23;
    font-family: Verdana, Geneva, sans-serif;
}
/**
* Generic classes
*/

.cursive {
    font-family: 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    font-weight: 200;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/**
* Generic classes End
*/

/**
* Navbar styles start
*/

.navbar-toggle .icon-bar {
    background-color: #754b23;
}

.navbar-toggle {
    margin: 0px;
    background-color: #fff;
}

.navbar-toggle-con.affix {
    width: 100%;
    background-color: #fff;
    left: 0px;
    z-index: 999;
}

.navbar-toggle.affix .icon-bar {
    text-align: right
}

.navbar-collapse {
    z-index: 999;
}

.navbar-collapse.affix {
    top: 34px;
}

.navbar-collapse li.active {
    background-color: #06b4af;
}

.navbar-collapse li.active a {
    color: #fff;
}

.main-nav {
    list-style: none;
    padding: 15px 0px;
    text-align: right;
}

.main-nav.affix {
    top: 0px;
    margin: 0px auto;
    /*padding:15px 0px;*/
    
    text-align: right;
    background-color: #fff;
    z-index: 999;
    -webkit-box-shadow: 2px 10px 10px -9px rgba(77, 69, 77, 0.45);
    -moz-box-shadow: 2px 10px 10px -9px rgba(77, 69, 77, 0.45);
    box-shadow: 2px 10px 10px -9px rgba(77, 69, 77, 0.45);
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-nav.affix {
        width: 753px;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .main-nav.affix {
        width: 970px;
        /*margin:0px auto;*/
    }
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .main-nav.affix {
        width: 1170px;
    }
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
}

nav li a,
nav li a:active {
    color: #754b23;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover {
    color: #06b4af;
}
/**
* Navbar styles End
*/

/**
* Header styles start
*/
header .main-logo {
    height: 194px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

header .logo-text {
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 15px
}

header .brown-bar {
    background-color: #754b23;
    height: 24px;
}

/**
* Header styles end
*/

/**
* Generic content styling
*/
.content {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 40%;
    margin-bottom: 45px;
    vertical-align: top;
}

.content p {
    margin: 10px 35px;
}

.bottom-img {
    margin-bottom: 50px;
}

/**
* Generic content styling End
*/


/**
* home content
*/

.content-home {
    background-image: url("../images/strips2.png");
}

.content-home  #dots {
    position: absolute;
    top: 30px;
    right: 30px;
}

#pic-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

/**
* home content End
*/

/**
* Footer Start
*/

footer {
    background-color: #06b4af;
    color: #fff;
    height: 80px;
    font-size: 12px
}

footer .dots {
    position: absolute;
    top: 18px;
    left: 40px;
}

footer .phone-number{
    margin-top:20px;
}

footer .copyright{
    margin-top:15px;
}

/**
* Footer End
*/
